:root {
  --bs-primary: #6740BF;
  --bs-primary-rgb: rgba(103, 64, 191, 1);

}

* {
  font-family: 'Inter', sans-serif;
}

body {
  background: var(--bs-gray-100);
}

/* ==== Hero ==== */

.containerCostumizado {
  width: 100%;
  max-width: 1224px;
}

#Inicio {
  height: 560px;
  background-image: url(./assets/hero-bg.png);
  background-position: 50% 25%;
}

@media (max-width: 980px) {
  #Inicio {
    height: 700px;
  }
}

.btnLogin,
.btnCadastreSe {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.btnLogin {
  color: var(--bs-black);
  background: var(--bs-white);
}

.btnLogin:hover {
  filter: brightness(0.9);

}

.btnCadastreSe {
  color: var(--bs-white);
  backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.1);
  border: solid 1px var(--bs-white);
}

/* ==== Hero > Header ==== */

#Header {
  height: fit-content;
  width: 100%;
  position: absolute;
  inset: 0 0 0 0;
}

@media (max-width: 980px) {
  #Header {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
  }
}

.linksContainer {
  flex-grow: 0;
}

.navCustomizada {
  padding: 14px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(1.5px);
}

.listContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navLink {
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 999px;
  color: var(--bs-white);
  font-weight: 500;
}

.navLink.active {
  color: var(--bs-black);
  background: var(--bs-white);
}

/* ==== Hero > Main Content ==== */

.mainContent {
  max-width: 800px;
  width: 100%;
  padding: 0 12px;
}

.mainTitle {
  font-weight: 700;
  font-size: 56px;
  line-height: 72px;
  text-align: center;
  color: var(--bs-white);
}

.mainSubtitle {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: var(--bs-white);
}

.emptyContent {
  height: 79px;
}

@media (max-width: 1024px) {
  .mainContent {
    max-width: 540px;
  }
}



@media (max-width: 600px) {
  .mainTitle {
    font-size: 32px;
    line-height: 40px;
  }

  .mainSubtitle {
    font-size: 16px;
    line-height: 24px;
  }
}

/* ==== Form ==== */

.legend{
  display: none;
  width: 0;
  height: 0;
  opacity: 0;

  grid-area: legend;
  font-size: 24px;
  line-height: 32px;
  color: #6740BF;

}
.destiny {
  grid-area: destiny;
}

.people {
  grid-area: people;
}

.checkInDate {
  grid-area: checkInDate;
}

.checkoutDate {
  grid-area: checkoutDate;
}

.btnSearch {
  grid-area: btnSearch;
}


form {
  background: var(--bs-white);
  padding: 4px;
  border-radius: 8px;
  margin: -28px auto 48px auto;
  display: grid;
  grid-template-areas: "destiny people checkInDate checkoutDate btnSearch";
  grid-template-columns: 1fr 1fr 1fr 1fr 108px;
  gap: 8px;
  box-shadow: 0px 4px 4px rgba(26, 0, 85, 0.1);
}


.inputGroup {
  display: flex;
  align-items: center;
  width: 100%;
}

.inputGroup label {
  display: none;
  width: 0;
  height: 0;
  opacity: 0;
}

.inputGroup svg {
  position: absolute;
  margin-left: 12px;
}

.inputGroup input,
.inputGroup select {
  height: 48px;
  padding: 0 0 0 46px;
  background: var(--bs-gray-100);
  width: 100%;
  border-radius: 4px;
  border: solid 1px var(--bs-gray-200);
}

.inputGroup input:focus,
.inputGroup select:focus {
  border: solid 1px var(--bs-primary);
}

.inputGroup input::placeholder,
.inputGroup select::placeholder {
  color: var(--bs-black);
}

.btnSearch {
  height: 48px;
  border: none;
  border-radius: 4px;
  background: var(--bs-primary);
  color: var(--bs-white);
  font-weight: 500;
  transition: 0.3;
}

.btnSearch:hover {
  filter: brightness(0.9);
}

.btnSearch:focus {
  border: solid 1px var(--bs-white);
}

@media (max-width: 1240px) {
  form.containerCostumizado {
    width: 98%;
  }
}

@media (max-width: 920px) {
  form {
    padding: 16px;
    grid-template-areas: "legend legend" "destiny people" "checkInDate checkoutDate" "btnSearch btnSearch";
    grid-template-columns: 1fr 1fr;
  }

  .legend{
    display: block;
    width: fit-content;
    height: fit-content;
    opacity: 1;
  }
}

@media (max-width: 420px) {
  form {
    padding: 16px;
    grid-template-areas: "legend" "destiny" "people" "checkInDate" "checkoutDate" "btnSearch";
    grid-template-columns: 1fr;
  }

  .legend{
    display: block;
    width: fit-content;
    height: fit-content;
    opacity: 1;
  }
}

/* ==== Footer ==== */

.bodyFooter {
	background: #DEDCD3;
}

.footerContainer {
	width: 100%;
	max-width: 1348px;
	margin: 0 auto;
}

.footerSubtitle {
	font-size: 22px;
	font-weight: bold;
}

.footerLinksList {
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.footerLink {
	color: var(--bs-dark);
}

.footerLink::after {
	content: url(./ArrowLineUpRight.svg);
	margin-left: 5px;
}

@media (max-width: 992px) {
	.bodyFooter {
		font-size: 14px;
	}
}

@media (max-width: 576px) {
	.bodyFooter {
		font-size: 12px;
	}
}