:root {
  --degradePrimary: linear-gradient(270deg, #FF2024 0%, #FF650F 100%);
  --degradeHover: linear-gradient(270deg, #FF5C5F 0%, #FF8642 100%);
  --green: #008F66;
  --greenHover: #00B884;
  --yellow: #F5C124;
  --yellowHover: #F5DF70;
  --red: #DB0618;
  --redredHover: #E54C4C;
  --base7: #000000;
  --base6: #2D2D2D;
  --base5: #505050;
  --base4: #DEDCD3;
  --base3: #F2F0E9;
  --base2: #FAF9F6;
  --base1: #FFFFFF;
}

* {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  background: transparent;
  border: none;
  border-radius: none;
}
body {
  background-color: var(--base2);
}

.container {
  width: 1201px;
}

h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 72px;
  color: var(--base7);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  color: var(--base6);
}

.button.sm {
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  padding: 0 16px;
}

.button.mg {
  height: 56px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  padding: 0 24px;
}

.button.lg {
  height: 72px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  padding: 0 36px;
}

.button.buttonStroke {
  background: var(--base2);
  border: solid 2px var(--base7);
}

.button.buttonStroke:hover {
  background: var(--base4);
}

.button.buttonFill {
  color: var(--base1);
  background: var(--base7);
}

.button.buttonFill:hover {
  background: var(--base5);
}