/*====== Global =====*/

#MainDestinations {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin: 60px auto;
}

/*====== Header =====*/

.mainDestinationsHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

/*====== MainDestinationsList =====*/

#MainDestinationsList {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
}

.mainDestinationCard {
  overflow: hidden;
  border-radius: 12px;
  color: var(--base1);
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cityInformationContainer {
  padding: 16px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  border-top: 1px solid #FFFFFF;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%), rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

.locale {
  display: flex;
  flex-direction: column;
}

.cost {
  display: flex;
  flex-direction: column;
}